@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

body:after {
  content: "";
  opacity: 0.5;
  background-size: 48px 56px;
  background-position: 50% 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  inset: 0;
  z-index: -10;
  background-image: radial-gradient(circle, #a3525f 1.5px, transparent 0);
}

.home:before {
  content: "";
  width: max(1000px, 100vw);
  height: 500px;
  top: -350px;
  left: auto;
  right: auto;
  position: absolute;
  z-index: -1;
  background: radial-gradient(rgba(249,115,22,.6) 10%, transparent 60%);
}
.records:before {
  content: "";
  width: 500px;
  height: 500px;
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: -1;
  background: radial-gradient(rgba(249,115,22,.6) 0%, transparent 60%);
}

.loader {
  transform: translateZ(1px);
}
.loader:after {
  content: "₿";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 32px;
  font-weight: bold;
  background: #ffd700;
  color: #daa520;
  border: 4px double;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes coin-flip {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.spinner-loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.spinner-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}